/* .clearfix::after {
    content: " ";
    display: block;
    clear: both;
} */

li {
    list-style-type: none;
}

.sidebar, .main {
    display: inline-block;
    height: 1000px;
}

.main {
    float: right;
    background-image: url(assets/images/20190808_132312.jpg);
}

#me {
    width: 100%;
    height: auto;
    opacity: .25;
}